a {
    list-style-type: none;
    color: black;
}
.pclass {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#date {
        margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#myCarousel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}

body {
    background-color: rgb(212,205,191);
}
#div1 {

}